{{#each colors as |color|}}
  <span class="circle bg-{{color}}"></span>
{{/each}}
<br>
<button onclick={{action "addColor"}}>Add Color</button>
<button onclick={{action "removeColor"}}>Remove Color</button>